.article_wrap {
  padding-top: 70px;
  flex-wrap: wrap;
  animation-delay: 2s;
  .article {
    padding: 25px;
    border-radius: 10px;
    margin: 50px auto 0;
    border: 1px solid #e3e4e5;
    box-shadow: 0 0 4px #d3d4d5;
    min-width: 52%;
    p.title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 10px;
    }
    p.info {
      font-size: 13px;
      color: #999;
      text-align: center;
      span {
        padding: 0 10px;
        &:first-child {
          border-right: 1px solid #ddd;
        }
        i {
          margin-right: 3px;
          vertical-align: middle;
          font-style: normal;
        }
        a {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
    p.intro {
      font-size: 14px;
      color: #333;
      margin-top: 50px;
    }
    span.read-detail {
      line-height: 34px;
      height: 34px;
      width: 120px;
      color: #fff;
      background: #222;
      display: block;
      text-align: center;
      margin: 40px auto;
      transition: all 0.3s;
      box-sizing: border-box;
      border: 2px solid #222;
      cursor: pointer;
      i {
        font-style: normal;
        margin-left: 5px;
      }
      &:hover {
        color: #222;
        background: #fff;
      }
    }
    span.division {
      display: block;
      width: 90px;
      height: 1px;
      background: #ccc;
      margin: 50px auto;
      animation: changeWidth 2s ease-in-out infinite;
    }
    @keyframes changeWidth {
      0% {
        transform: scaleX(1);
        background: #ccc;
      }
      50% {
        transform: scaleX(1.2);
        background: #eee;
      }
      100% {
        transform: scale(1);
        background: #ccc;
      }
    }
  }
}
.page {
  margin: 15px auto;
  animation-delay: 2s;
  text-align: center;
}
